<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
    	<header>
    		<div class="">
    			kelin's Blog
    		</div>
    	</header>
    </div>
  </body>
</html>
