<!DOCTYPE html>
<html lang="en" ng-app="web">
<head>
	<meta charset="UTF-8">
	<title>ManageMsg</title>
	<script src="vender/angular/angular.min.js"></script>
	<script src="vender/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/vender/angular-cookies/angular-cookies.min.js"></script>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div content-header src-path="admin.html" logo-name="kelin blog 管理"></div>
	<h3 class="ta-c mt-20">blog 管理</h3>
	<div class="inputBox" blog-manage></div>
	<script src="js/index.js"></script>
</body>
</html>