<div class="contentHeader p-r">
	<a href="{{srcPath}}">
		<div class="personLogo">
		
		</div>
		<div class="headerIntro" ng-bind="logoName">
			
		</div>
	</a>
	<p class="p-a">想法，很重要。实践，更重要！</p>
	
</div>