<div class="listBox">
	<ul class="listNav">
		<li ng-repeat="list in lists">
			<a href="" ng-bind="list.title" ng-click="selectList(list.id)"></a>
			<p ng-bind="list.date"></p>
		</li>
	</ul>
</div>	